.modal.fade#friendsModal aria-hidden="true" aria-labelledby="friendsModalLabel" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title#friendsModalLabel Add friends
        button.btn-close aria-label="Close" data-bs-dismiss="modal" type="button"
      .modal-body
        .friends-list
          p.friends-list-header Select friends:
          - @users.each do |user|
            = link_to user.name, add_friend_path(user_id: user.id), method: :post, class: "friend-name"
