.modal.fade#settleUpModal aria-hidden="true" aria-labelledby="settleUpModalLabel" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.btn-close aria-label="Close" data-bs-dismiss="modal" type="button"
      form[action="/settle_up" method="post"]
        .modal-body
          label[for="friendDropdown"] Select a Friend:
          select.form-select#friendDropdown[name="friendId"]
            - @user_friends.each do |friend|
              option[value="#{friend.id}"] #{friend.name}
          label[for="amount"] Amount:
          input.form-control#amount[name="amount" placeholder="Enter amount" type="number" required]
          label[for="description"] Description:
          input.form-control#description[name="description" placeholder="Enter description (optional)" type="text"]
        .modal-footer
          button.btn.btn-secondary data-bs-dismiss="modal" type="button" Close
          button.btn.btn-primary type="submit" Submit
